<!DOCTYPE html>
<html lang="es">

<head>
        <meta charset="utf-8">
        <title>cssToString</title>
        <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>

<header>
        <h1>
                I'm so sorry, but your navigator is not compatible with this application.
        </h1>
</header>
<main>
                <h2>
                        It's time to upgrade to a modern and open navigator:
                </h2>
                <ul>
                        <li><a href="https://www.mozilla.org/en-US/firefox/new/">Firefox</a></li>
                        <li><a href="https://www.google.com/chrome/browser/">Chrome</a></li>
                </ul>
</main>
<footer>
        <ul id="social">
          <a href="http://www.twitter.com/babytruckdriver" class="icon-social-twitter">
            <li class="hide">Twitter</li>
          </a>
          <a href="https://github.com/babytruckdriver/" class="icon-social-github">
            <li class="hide">GitHub</li>
          </a>
        </ul>
</footer>

</body>

</html>
