<!DOCTYPE html>
<html lang="es">

<head>
        <meta charset="utf-8">
        <title>cssToString</title>
        <link rel="stylesheet" href="/stylesheets/style.css">
        <script data-main="javascript/main" src="javascript/require.js"></script>
</head>

<body id="body">

<header>
        <h1>
                <a href="">
                        <div id="a">css</div><div id="b">2</div><div id="c">String</div>
                </a>
        </h1>
</header>

<main>
        <!-- //TODO: Crear estilo para esta sección de la aplicación -->
        <header>
                <h2>
                        Select a *.css file to convert to a valid JavaScript String
                </h2>
        </header>
        <section id="file-upload">
                <div>
                        <input type="file" id="upload-field" accept="text/css">
                </div>
                <div id="dropZone">

                        Drop the file here.

                </div>
        </section>
        <article id="result" class="oculto">
                <textarea class="css-output"></textarea>
        </article>
        <div id="error-container" class="oculto"></div>
</main>
<footer>
        <ul id="social">
          <a href="http://www.twitter.com/babytruckdriver" class="icon-social-twitter">
            <li class="hide">Twitter</li>
          </a>
          <a href="https://github.com/babytruckdriver/" class="icon-social-github">
            <li class="hide">GitHub</li>
          </a>
        </ul>
</footer>

</body>

</html>
